@model IEnumerable<HotelMorskoUhanie.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead {
        background-color: #C2DFFF;
    }
</style>
<center><h1>Резервации</h1></center>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Дата на настаняване
            </th>
            <th>
                Дата на напускане
            </th>
            <th>
                Резервирана стая
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Резервирано от
                </th>
            }
         
           
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Дата на промяна
                </th>   
            }
            @if (User.IsInRole("Admin"))
            {
                <th>Опции</th>
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComeInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rooms.RoomNumbersName)
                </td>   
                @if (User.IsInRole("Admin"))
                {
                    <td>
                       @*  @Html.DisplayFor(modelItem => item.Users.FirstName) *@
                        @item.Users.FirstName @item.Users.LastName
                    </td>
                }
           
       
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                }
         
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Промени</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                }
   
        </tr>
}
    </tbody>
</table>
