@model IEnumerable<HotelMorskoUhanie.Data.Room>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead {
        background-color: #C2DFFF;
    }
    .reservation{
        display:flex;
        justify-content:center;
    }
    .btn{
        
    }
    .btn input[type=submit]{
        margin-left:30%;
        width:210px;
    }

</style>
<center><h1>Нашите предложения за настаняване в хотела</h1></center>

    <center><a class="btn btn-primary" asp-action="Create">Добави стая</a></center>

<br />
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Номер на стаята
            </th>
            <th>
                Вид на стаята
            </th>


            <th>
                Цена
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Дата на промяна
                </th>
            }

            @if (User.IsInRole("Admin"))
            {
                <th>
                    Опции
                </th>
            }
            else
            {

                <th>
                   
                </th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" style="border-radius:3%;border:2px solid black" width="220" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumbersName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomTypes.Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay) лв.
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                }
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                }
                else
                {
                    <td class="reservation">
                        <form method="get" asp-controller="Reservations" asp-action="CreateWithRoomId" asp-route-roomId="@item.Id">
                            <label>Дата на настаняване: </label>
                            <input name="roomId" type="hidden" value="@item.Id" />
                            <input type="datetime-local" id="birthdaytime" name="comeDate">
                            <br />
                            <label>Дата на напускане:&ensp;&ensp;</label>
                            <input type="datetime-local" id="birthdaytime" name="leaveDate">
                            <br />
                            <div class="btn">
                                <input id="reserveBtn" type="submit" value="Резервирай" class="btn btn-primary" />
                            </div>
                            
                        </form>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
